.story-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4rem;
}
.story-se1 {
  display: flex;
  justify-content: center;
}
.story-se1 img {
  width: 400px;
}
.story-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.story-content h1 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}
.story-content h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: #f3a829;
}
.story-content p {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.1rem;
}

.story-se2 {
  display: flex;
  justify-content: center;
}
.story-se2 img {
  width: 400px;
}
.story-btn {
  width: 120px;
  height: 32px;
  border-radius: 35px;
  font-size: 13px;
  font-weight: 500;
  background-color: #1db619;
  color: #fff;
  border: none;
  cursor: pointer;
}
.story-btn:hover {
  background: #089b03;
}
.detail-story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f6f9;
  position: relative;
}
.detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem;
}
.detail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
}
.detail-content h1 {
  font-size: 2rem;
  color: #1db619;
  margin-bottom: 1.6rem;
}
.detail-content h2 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}
.detail-content p {
  text-align: left;
  line-height: 1.4;
}
.image-story {
  margin-left: 2rem;
  display: flex;
  align-items: flex-end;
}
.image-story img {
  max-width: 400px;
  height: auto;
}

@media screen and (max-width: 680px) {
  .story-container {
    display: flex;
    flex-direction: column;
  }

  .story-se1 img {
    width: 320px;
  }
  .story-se2 img {
    width: 320px;
  }
  .detail-container {
    flex-direction: column;
  }
  .image-story img {
    max-width: 300px;
    margin-top: 1.3rem;
  }
}

@media screen and (max-width: 1050px) {
  .story-container {
    flex-direction: column;
  }
}
