.not-found-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.not-found-text {
  margin-bottom: 40px;
  text-align: center;
}

.not-found-icon {
  font-size: 20em;
}
